<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
  
<suite name="FREE CRM Application Test Automation Test Suite" >
  <test name="Free CRM Application Test Cases" >
    <classes>
       <class name="crm.testcases.LoginPageTest" />
       <class name="crm.testcases.HomePageTest" />
       <class name="crm.testcases.ContactsPageTest" />
    </classes>
  </test>
 
</suite>