<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="FREE CRM Application Test Automation Test Suites">
    <test name="Free CRM Application Test Cases">
        <classes>
            <class name="crm.testcases.LoginPageTest"></class>
            <class name="crm.testcases.HomePageTest"></class>
            <class name="crm.testcases.ContactsPageTest"></class>
        </classes>
   </test>
</suite>